@import url(http://fonts.googleapis.com/css?family=Roboto:300);


.dark-blue{background-color: #1976D2 !important; }
.light-blue{background-color: #BBDEFB !important; }
.ambar{color: #FFC107 !important; }
.white_bg{background-color: #FFF !important; }
.ambar_bg{background-color: #FFC107 !important; }

.notFixed{
	position: relative !important;
}
.appContent{
	width: 80%;
  	margin-left: 10%;
}

.toolbar-title{
	font-family: 'Roboto', sans-serif;
	font-size: 24px !important;
	padding-left: 20px;
}
.md-toolbar-tools .md-warn{
	color: white !important;
}
.md-toolbar-tools .md-warn:hover{
	background-color: rgba(244,67,54, 0.5) !important;
}
a{
	color: #1976D2;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.imageHeader{
	width: 45px;
	height: 45px;
	margin-left: 32px;
}

.md-button.white{
	color: rgba(255,255,255,1);
}
.md-button.active{
	background-color: rgba(255,255,255,0.2) !important;
}
.soft{
	text-shadow: 0 0 1px rgba(255,255,255,0.5);
}

.dashboard h3{
	color:#727272;
}

.dashboard>p{
	margin-top: -15px;
}

.roundItems {
  border-radius: 164px;
  min-width: 128px;
  max-width: 128px;
  height: 128px;margin-right: 45px;
  margin-left: 30px;
  
}

.together{
	display: inline-block;
}
img{
	max-width: 100%;
}

.imgFav{
 	text-align: center;
 	margin-bottom: 30px;
}

.imgFav h3{
	position: absolute;
	top: 12px;
	left: 20px;
	color: white;
	transition: 0.5s ease;
	margin-right: 45px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.imgFav:hover h3{
	color:transparent;
	cursor: pointer;
}

.imgFav>div{
	box-sizing: border-box;
	transition: 0.5s ease;
	width: 128px;
	position: absolute;
	height: 128px;
	border: 64px solid rgba(0,0,0,0.4);
	border-radius: 999px;
	margin-left: 30px;
	margin-bottom: 30px;
}
.imgFav:hover > div{
	border:1px solid rgba(0,0,0,0.4);
	cursor: pointer;
}


.dashboardDown{
	min-height: 300px !important; background-color:#1976D2 !important;
	padding: 44px;
	color: white;
}
.dashboardDown>h2{
	padding-left: 30px;
}

.userTags{
	display: inline-block;
	margin-right: 10px;
}

.label{
	padding:.2em .6em .3em;
	font-size:95%;
	font-weight:700;
	line-height:1;
	color:#fff;
	text-align:center;
	white-space:nowrap;
	vertical-align:baseline;
	border-radius:.25em;
}

.label-default{background-color:#777}
.label-default[href]:hover,.label-default[href]:focus{background-color:#5e5e5e}


#login, #signup, #resetpass{
	background: url('../img/house_bg.jpg') no-repeat center center fixed; 
	height: 100%;
  	width: 100%;
  	position: fixed;
  	right: 0;
  	top: 0px;
  	left:0;
  	background-size: cover;
  	margin-left:0;
}
.authContainer>*{
	padding: 20px;
}
.authContainer{
	position: absolute;
	margin-top: 5%;
	color: gray;
	background-color: rgba(255,255,255,0.8);
	border-radius: 3px;
	width: 500px;
	max-width: 100%;
	left:50%;
	margin-left: -250px;
}
.authContainer .footer{
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    background-color: white;
}
.authContainer h1{
	background-color: rgb(63,81,181);
	color: white;
	text-align: center;
	font-weight: 100;
	font-size: 40px;
}
.authContainer img{
	position: absolute;
	width: 100px;
	margin: auto;
}
.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

.houseFace {
  width: 140px;
  height: 70px;
  margin: 5px;
  background-size: cover;
  background-position: center;
}
.houseItem:hover{
	background-color: #BBDEFB;
}

/* GRID IN DASHBOARD */

.gridNovedades{
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.gridNovedades > div{
	background-color: #BBDEFB;
	height: 150px;
	margin-right: 15px;
}

.imageContainer{
	overflow: hidden;
	height: 150px;
	position: relative;
}
.imageContainer img{
	width: 100%;
}

.imageContainer .infoImage{
	position: absolute;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	width: 100%;
	left: 0;
	color: white;
	overflow: hidden;
}

.imageContainer .infoImage>div{
	overflow: hidden;
	height: 0;
	transition: 0.5s ease;
}

.imageContainer .infoImage h3{
	margin: 0;
	padding: 0;
}

.imageContainer:hover .infoImage>div{
	height: 60px;
	cursor: pointer;
}

.statsContainer{
	padding: 40px;
}
#map{
	height: 300px;
	width: 100%;
}

.circles{
	margin: auto;
	background-color: #FFC107;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	color: white;
	text-align: center;
}

.circles h3{
	padding-top: 29px;
	font-size: 22px;
}