.p0{padding:0px !important}
.p5{padding:5px !important}
.p10{padding:10px !important}
.p15{padding:15px !important}
.p20{padding:20px !important}
.p30{padding:30px !important}
.p40{padding:40px !important}
.m0{margin:0px !important}
.m5{margin:5px !important}
.m10{margin:10px !important}
.m15{margin:15px !important}
.m20{margin:20px !important}
.m30{margin:30px !important}
.m40{margin:40px !important}
.t0{top:0px !important;}
.t5{top:5px !important;}
.t10{top:10px !important;}
.t15{top:15px !important;}
.t20{top:20px !important;}
.t30{top:30px !important;}
.t40{top:40px !important;}
.b0{bottom:0px !important;}
.b5{bottom:5px !important;}
.b10{bottom:10px !important;}
.b15{bottom:15px !important;}
.b20{bottom:20px !important;}
.b30{bottom:30px !important;}
.b40{bottom:40px !important;}
.l0{left:0px !important;}
.l5{left:5px !important;}
.l10{left:10px !important;}
.l15{left:15px !important;}
.l20{left:20px !important;}
.l30{left:30px !important;}
.l40{left:40px !important;}
.r0{right:0px !important;}
.r5{right:5px !important;}
.r10{right:10px !important;}
.r15{right:15px !important;}
.r20{right:20px !important;}
.r30{right:30px !important;}
.r40{right:40px !important;}

.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt-5{margin-top:-5px !important;}
.mt10{margin-top:10px !important;}
.mt-10{margin-top:-10px !important;}
.mt15{margin-top:15px !important;}
.mt18{margin-top:18px !important;}
.mt-15{margin-top:-15px !important;}
.mt20{margin-top:20px !important;}
.mt-20{margin-top:-20px !important;}
.mt25{margin-top:25px !important;}
.mt-25{margin-top:-25px !important;}
.mt30{margin-top:30px !important;}
.mt-30{margin-top:-30px !important;}
.mt35{margin-top:35px !important;}
.mt-35{margin-top:-35px !important;}
.mt40{margin-top:40px !important;}
.mt-40{margin-top:-40px !important;}
.mt45{margin-top:45px !important;}
.mt-45{margin-top:-45px !important;}
.mt50{margin-top:50px !important;}
.mt-50{margin-top:-50px !important;}
.mt55{margin-top:55px !important;}
.mt-55{margin-top:-55px !important;}
.mt60{margin-top:60px !important;}
.mt-60{margin-top:-60px !important;}
.mt65{margin-top:65px !important;}
.mt-65{margin-top:-65px !important;}
.mt70{margin-top:70px !important;}
.mt-70{margin-top:-70px !important;}
.mt75{margin-top:75px !important;}
.mt-75{margin-top:-75px !important;}
.mt80{margin-top:80px !important;}
.mt-80{margin-top:-80px !important;}
.mt85{margin-top:85px !important;}
.mt-85{margin-top:-85px !important;}
.mt90{margin-top:90px !important;}
.mt-90{margin-top:-90px !important;}
.mt95{margin-top:95px !important;}
.mt-95{margin-top:-95px !important;}
.mt100{margin-top:100px !important;}
.mt-100{margin-top:-100px !important;}

.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb-5{margin-bottom:-5px !important;}
.mb10{margin-bottom:10px !important;}
.mb-10{margin-bottom:-10px !important;}
.mb15{margin-bottom:15px !important;}
.mb-15{margin-bottom:-15px !important;}
.mb20{margin-bottom:20px !important;}
.mb-20{margin-bottom:-20px !important;}
.mb25{margin-bottom:25px !important;}
.mb-25{margin-bottom:-25px !important;}
.mb30{margin-bottom:30px !important;}
.mb-30{margin-bottom:-30px !important;}
.mb35{margin-bottom:35px !important;}
.mb-35{margin-bottom:-35px !important;}
.mb40{margin-bottom:40px !important;}
.mb-40{margin-bottom:-40px !important;}
.mb45{margin-bottom:45px !important;}
.mb-45{margin-bottom:-45px !important;}
.mb50{margin-bottom:50px !important;}
.mb-50{margin-bottom:-50px !important;}
.mb55{margin-bottom:55px !important;}
.mb-55{margin-bottom:-55px !important;}
.mb60{margin-bottom:60px !important;}
.mb-60{margin-bottom:-60px !important;}
.mb65{margin-bottom:65px !important;}
.mb-65{margin-bottom:-65px !important;}
.mb70{margin-bottom:70px !important;}
.mb-70{margin-bottom:-70px !important;}
.mb75{margin-bottom:75px !important;}
.mb-75{margin-bottom:-75px !important;}
.mb80{margin-bottom:80px !important;}
.mb-80{margin-bottom:-80px !important;}
.mb85{margin-bottom:85px !important;}
.mb-85{margin-bottom:-85px !important;}
.mb90{margin-bottom:90px !important;}
.mb-90{margin-bottom:-90px !important;}
.mb95{margin-bottom:95px !important;}
.mb-95{margin-bottom:-95px !important;}
.mb100{margin-bottom:100px !important;}
.mb-100{margin-bottom:-100px !important;}

.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml-5{margin-left:-5px !important;}
.ml10{margin-left:10px !important;}
.ml-10{margin-left:-10px !important;}
.ml15{margin-left:15px !important;}
.ml-15{margin-left:-15px !important;}
.ml20{margin-left:20px !important;}
.ml-20{margin-left:-20px !important;}
.ml25{margin-left:25px !important;}
.ml-25{margin-left:-25px !important;}
.ml30{margin-left:30px !important;}
.ml-30{margin-left:-30px !important;}
.ml35{margin-left:35px !important;}
.ml-35{margin-left:-35px !important;}
.ml40{margin-left:40px !important;}
.ml-40{margin-left:-40px !important;}
.ml45{margin-left:45px !important;}
.ml-45{margin-left:-45px !important;}
.ml50{margin-left:50px !important;}
.ml-50{margin-left:-50px !important;}
.ml55{margin-left:55px !important;}
.ml-55{margin-left:-55px !important;}
.ml60{margin-left:60px !important;}
.ml-60{margin-left:-60px !important;}
.ml65{margin-left:65px !important;}
.ml-65{margin-left:-65px !important;}
.ml70{margin-left:70px !important;}
.ml-70{margin-left:-70px !important;}
.ml75{margin-left:75px !important;}
.ml-75{margin-left:-75px !important;}
.ml80{margin-left:80px !important;}
.ml-80{margin-left:-80px !important;}
.ml85{margin-left:85px !important;}
.ml-85{margin-left:-85px !important;}
.ml90{margin-left:90px !important;}
.ml-90{margin-left:-90px !important;}
.ml95{margin-left:95px !important;}
.ml-95{margin-left:-95px !important;}
.ml100{margin-left:100px !important;}
.ml-100{margin-left:-100px !important;}

.mr0{margin-right:0px !important;}
.mr5{margin-right:5px !important;}
.mr-5{margin-right:-5px !important;}
.mr10{margin-right:10px !important;}
.mr-10{margin-right:-10px !important;}
.mr15{margin-right:15px !important;}
.mr-15{margin-right:-15px !important;}
.mr20{margin-right:20px !important;}
.mr-20{margin-right:-20px !important;}
.mr25{margin-right:25px !important;}
.mr-25{margin-right:-25px !important;}
.mr30{margin-right:30px !important;}
.mr-30{margin-right:-30px !important;}
.mr35{margin-right:35px !important;}
.mr-35{margin-right:-35px !important;}
.mr40{margin-right:40px !important;}
.mr-40{margin-right:-40px !important;}
.mr45{margin-right:45px !important;}
.mr-45{margin-right:-45px !important;}
.mr50{margin-right:50px !important;}
.mr-50{margin-right:-50px !important;}
.mr55{margin-right:55px !important;}
.mr-55{margin-right:-55px !important;}
.mr60{margin-right:60px !important;}
.mr-60{margin-right:-60px !important;}
.mr65{margin-right:65px !important;}
.mr-65{margin-right:-65px !important;}
.mr70{margin-right:70px !important;}
.mr-70{margin-right:-70px !important;}
.mr75{margin-right:75px !important;}
.mr-75{margin-right:-75px !important;}
.mr80{margin-right:80px !important;}
.mr-80{margin-right:-80px !important;}
.mr85{margin-right:85px !important;}
.mr-85{margin-right:-85px !important;}
.mr90{margin-right:90px !important;}
.mr-90{margin-right:-90px !important;}
.mr95{margin-right:95px !important;}
.mr-95{margin-right:-95px !important;}
.mr100{margin-right:100px !important;}
.mr-100{margin-right:-100px !important;}

.pt0{padding-top:0px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt40{padding-top:40px !important;}
.pt45{padding-top:45px !important;}
.pt50{padding-top:50px !important;}
.pt55{padding-top:55px !important;}
.pt60{padding-top:60px !important;}
.pt65{padding-top:65px !important;}
.pt70{padding-top:70px !important;}
.pt75{padding-top:75px !important;}
.pt80{padding-top:80px !important;}
.pt85{padding-top:85px !important;}
.pt90{padding-top:90px !important;}
.pt95{padding-top:95px !important;}
.pt100{padding-top:100px !important;}

.pb0{padding-bottom:0px !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb40{padding-bottom:40px !important;}
.pb45{padding-bottom:45px !important;}
.pb50{padding-bottom:50px !important;}
.pb55{padding-bottom:55px !important;}
.pb60{padding-bottom:60px !important;}
.pb65{padding-bottom:65px !important;}
.pb70{padding-bottom:70px !important;}
.pb75{padding-bottom:75px !important;}
.pb80{padding-bottom:80px !important;}
.pb85{padding-bottom:85px !important;}
.pb90{padding-bottom:90px !important;}
.pb95{padding-bottom:95px !important;}
.pb100{padding-bottom:100px !important;}

.pl0{padding-left:0px !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl35{padding-left:35px !important;}
.pl40{padding-left:40px !important;}
.pl45{padding-left:45px !important;}
.pl50{padding-left:50px !important;}
.pl55{padding-left:55px !important;}
.pl60{padding-left:60px !important;}
.pl65{padding-left:65px !important;}
.pl70{padding-left:70px !important;}
.pl75{padding-left:75px !important;}
.pl80{padding-left:80px !important;}
.pl85{padding-left:85px !important;}
.pl90{padding-left:90px !important;}
.pl95{padding-left:95px !important;}
.pl100{padding-left:100px !important;}

.pr0{padding-right:0px !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.pr35{padding-right:35px !important;}
.pr40{padding-right:40px !important;}
.pr45{padding-right:45px !important;}
.pr50{padding-right:50px !important;}
.pr55{padding-right:55px !important;}
.pr60{padding-right:60px !important;}
.pr65{padding-right:65px !important;}
.pr70{padding-right:70px !important;}
.pr75{padding-right:75px !important;}
.pr80{padding-right:80px !important;}
.pr85{padding-right:85px !important;}
.pr90{padding-right:90px !important;}
.pr95{padding-right:95px !important;}
.pr100{padding-right:100px !important;}

.noPadding{padding:0px; }/**/

.z1{z-index: 1 !important;}
.z2{z-index: 2 !important;}
.z3{z-index: 3 !important;}
.z4{z-index: 4 !important;}
.z5{z-index: 5 !important;}
.zmax{z-index: 9999 !important;}

.pointer{cursor:pointer;}
.move{cursor:move;}
.vresize{cursor:n-resize;}
.hresize{cursor:e-resize;}
.absolute{position:absolute;}
.relative{position:relative;}
.scroll{overflow:scroll; /*height:100%;*/ }
.scrolly{overflow-y:scroll; height:100%; }
.scrollx{overflow-x:scroll; width:100%; }
.ohidden{overflow:hidden; }

.fl{float:left;}
.fr{float:right;}
.clearfix{clear:both;}

.none{display: none}
.flex{display: flex}
.block{display: block}
.None{display: none !important}

.fx0-5{font-size: 0.5em}
.fx0-7{font-size: 0.7em}
.fx1-5{font-size: 1.5em}
.fx2{font-size: 2em}
.fx3{font-size: 3em}
.fx4{font-size: 4em}
.fx5{font-size: 5em}
.lh05{line-height: 0.5}
.lh1{line-height: 1}
.lh2{line-height: 2}

.soft{color: #bdc3c7;}
.white{color: white;}
.red{color: red;}
.silver{color: silver;}
.myWhite{color: white; text-shadow: 1px 1px #333 }
.bold{font-weight: 700;}
.regular{font-weight: 400;}
.thin{font-weight: 100;}

.underline{text-decoration: underline;}

.ulnone{list-style: none}

.w100p{width: 100% !important;}
.w75p{width: 75% !important;}
.w50p{width: 50% !important;}
.w25p{width: 25% !important;}
.w10p{width: 10% !important;}

.w100{width: 100px !important;}
.w75{width: 75px !important;}
.w50{width: 50px !important;}
.w25{width: 25px !important;}
.w10{width: 10px !important;}

.h100p{height: 100% !important;}
.h50p{height: 50% !important;}
.h25p{height: 25% !important;}
.h10p{height: 10% !important;}

.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}
.taj{text-align: justify;}

.bg-gray{background-color: #F7F7F7}

.only-print{display: none;}
@media print {
	.no-print{display:none} 
	.only-print{display: initial;}
}