<md-content>  
  <md-toolbar md-scroll-shrink class="white_bg pt10">
    <div class="md-toolbar-tools" layout="row">
      <div flex="33">
        <md-input-container>
          <label>Localización</label>
          <input type="text" ng-model="search.location" placeholder="Buscar por localización">
        </md-input-container>
      </div>
      <div flex="33">
        <md-input-container>
          <label>Tipo</label>
          <input type="text" ng-model="search.type" placeholder="">
           <md-select ng-model="search.type" placeholder="Buscar por tipo de vivienda">
              <md-option ng-value="opt" ng-repeat="opt in types">{{ opt }}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex>
        <md-input-container>
          <label>Precio</label>
          <input type="number" ng-model="minPrice" placeholder="mínimo" min="0" step="500">
        </md-input-container>
      </div>
      <div flex>
        <md-input-container>          
          <label>Valoraciones</label>
          <input type="number" ng-model="minValorations" placeholder="mínimas" step="20">
        </md-input-container>
      </div>
    </div>
  </md-toolbar>

  <md-list>
    <md-item ng-repeat="house in houses | filter:search | filter: greaterThan('price', minPrice) | filter: greaterThan('valorations', minValorations)" >
      <md-item-content layout="row" class="houseItem pointer" ui-sref="app.houses.detail">
        <div class="md-tile-left" flex="20">
          <div class="houseFace" ng-style="{'background-image': 'url(\''+house.image+'\')'}"></div>
        </div>

        <div flex="25" class="md-tile-content">
          <h3>{{house.location}}</h3>
          <h4>{{house.province}}</h4>
        </div>

        <div flex="30">
          <h4>{{house.type}}</h3>
        </div>

        <div flex class="md-tile-content">
          <h3 class="bold">{{house.price | currency : '' : 0}} €</h3>
          <h4 ng-init="percentage = getRandom(100)" ng-class="{red: percentage<50, ambar: percentage>=50}">{{percentage>50?'+':'-'}}{{percentage}}%</h3>
        </div>

        <div flex>
          <h3>{{house.valorations}}</h3>
        </div>

      </md-item-content>
      <md-divider md-inset ng-if="!$last"></md-divider>
    </md-item>
  </md-list>
</md-content>
<div ui-view="housesContent"></div>