
<div class="BGBlue center-text">
	<div class="top-label"><h3 class="pt15 white">Valu</h3></div><br>
	<img src="images/LOGO_SOLVIA.png" class="solviaimg"/>

	<button class="button icon-left button-large button-positive facebook" ng-click="go('slectionMenu')">
	<i class="fa fa-facebook-official"></i>
  Login with facebook
</button>

</div>