<md-content>
  
  <md-toolbar md-scroll-shrink class="white_bg pt10">
    <div class="md-toolbar-tools" layout="row">
      <div flex="33">
        <md-input-container>
          <label>Nombre</label>
          <input type="text" ng-model="search.name" placeholder="Buscar por nombre">
        </md-input-container>
      </div>
      <div flex="33">
        <md-input-container>
          <label>Localización</label>
          <input type="text" ng-model="search.location" placeholder="Buscar por localización">
        </md-input-container>
      </div>
      <div flex>
        <md-input-container>
          <label>Valoraciones</label>
          <input type="number" ng-model="minValorations" placeholder="mínimas" step="20">
        </md-input-container>
      </div>
      <div flex>
        <md-input-container>
          <label>Puntos</label>
          <input type="number" ng-model="minPoints" placeholder="mínimos" max="100" step="10">
        </md-input-container>
      </div>
    </div>
  </md-toolbar>

  <md-list>
    <md-item ng-repeat="citizen in citizens | filter:search | filter: greaterThan('points', minPoints) | filter: greaterThan('valorations', minValorations)">
      <md-item-content layout="row">
        <div class="md-tile-left">
          <img ng-src="{{citizen.image}}" class="face" alt="{{citizen.name}}">
        </div>

        <div flex="33" class="md-tile-content">
          <h3>{{citizen.name}}</h3>
          <h4>{{citizen.position}}</h4>
        </div>

        <div flex="33">
          <h4>{{citizen.location}}</h3>
        </div>

        <div flex>
          <h3>{{citizen.valorations}}</h3>
        </div>

        <div flex>
          <h3>{{citizen.points}}</h3>
        </div>

      </md-item-content>
      <md-divider md-inset ng-if="!$last"></md-divider>
    </md-item>
  </md-list>
</md-content>