<div class="BGBlue center-text">
	<div class="top-label"><h3>Valu</h3></div><br>
	<img src="images/LOGO_SOLVIA.png" class="solviaimg"/>
	<span class="signinwith">Sign in with</span>
	<button class="facebook" ng-click="go('slectionMenu')"><i class="fa fa-facebook-official"></i> Facebook</button>	
</div>