<div layout="row" class="relative">
	<div flex="50">
		<img src="assets/img/3.jpg" class="p20">
	</div>
	<div flex="25">
		<h2>Bungalows de Pinar</h2>
		<h3>Villena - Alicante</h3>
		<p>(año de construcción 1998)</p>
		<hr>
		<p class="fx1-5 mb5">Dúplex</p>

		<ul class="ulnone fx1-5">
		    <li class="mb10"><i class="fa fa-arrows-alt"></i> 120 m<sup>2</sup></li>
		    <li class="mb10"><i class="fa fa-bed"></i> 3</li>
		    <li class="mb10"><i class="fa fa-car"></i> <i class="fa fa-check"></i></li>
		    <li></li>
		</ul>
	</div>
	<div flex="25" class="tar pr20 relative">
		<h1>{{160000 | currency : '' : 0}} €</h2>
		<h4 class="ambar">+ 34%</h4>
		<div ng-switch="saved" class="absolute b20 r20">
			<div ng-switch-when="true">
				<p class="mb0">Guardado </p>
				<md-button class="md-dafault md-raised p10" ng-click="setSaved(false)">Borrar</md-button>
			</div>
			<div ng-switch-default>
				<md-button class="md-primary md-raised ambar_bg p10" ng-click="setSaved(true)">Marcar como Favorita</md-button>

			</div>
		</div>	
	</div>
</div>
<div class="row" id="map" ng-init="initMap()"> </div>