<md-tabs class="" md-selected="selectedIndex">
  <md-tab id="tab1" aria-controls="tab1-content" class="md-accent">
    Detalles
  </md-tab>
  <md-tab id="tab2" aria-controls="tab2-content">
    Estadísticas
  </md-tab>
  <md-tab id="tab3" aria-controls="tab3-content">
    Histórico
  </md-tab>
  
</md-tabs>
<ng-switch on="selectedIndex" class="tabpanel-container">
    <div role="tabpanel"
         id="tab1-content"
         aria-labelledby="tab1"
         ng-switch-when="0"
         md-swipe-left="next()"
         md-swipe-right="previous()">
         <div ng-include="'src/app/houses/detail/data.html'"></div>
    </div>
    <div role="tabpanel"
         id="tab2-content"
         aria-labelledby="tab2"
         ng-switch-when="1"
         md-swipe-left="next()"
         md-swipe-right="previous()">
         <div ng-include="'src/app/houses/detail/stats.html'"></div>

    </div>
    <div role="tabpanel"
         id="tab3-content"
         aria-labelledby="tab3"
         ng-switch-when="2"
         md-swipe-left="next()"
         md-swipe-right="previous()">
         <div ng-include="'src/app/houses/detail/history.html'"></div>
    </div>
</ng-switch>