<div class="statsContainer">
	<p class="fl">Filtrado por </p>
	<md-select class="fl mt18 ml5" ng-blur="change(neighborhood)" ng-model="neighborhood" placeholder="zona">
		<md-option ng-value="opt"
    ng-repeat="opt in neighborhoods">{{ opt }}</md-option>
	</md-select>
	  
	<div class="clearfix circleStats mb20" layout="row" layout-align="space-around-center">
		<div flex>
			<div class="circles">	
				<h3>Media</h3>
				<span>{{mediaM}}k</span>
			</div>
		</div>
		<div flex>	
			<div class="circles" style="background-color: #EB6235">	
				<h3 class="mb5">Precio idóneo</h3>
				<span>{{moda}}k</span>
			</div>
		</div>
		<div flex>	
			<div class="circles" style="background-color: #90C0D4">	
				<h3>Mediana</h3>
				<span>{{mediana}}k</span>
			</div>
		</div>
	</div>

	<highchart id="chart1" config="chartConfig" style="width:100%; height:400px;"></highchart>
	
	<highchart id="chart2" config="valueChartConfig" style="width:100%; height:400px;"></highchart>
	

	<highchart id="chart3" config="timeChartConfig" style="width:100%; height:400px;"></highchart>
</div>
