<div class="house">

	<div class="top-label titlehouse">
		<span>{{house.location}}</span> <br>
		<span class="light"> {{house.province}}</span>
	</div>	

	<div class="image" ng-style="{'background-image':'url(\'{{house.img}}\')'}"></div>


	<div class="icons">
		<span>{{house.type}} - {{house.year}}</span>
	</div>

	nueva o usada
	si tiene garage


		<i class="fa fa-area-chart fl"> {{house.area}} m2</i>
		<i class="fa fa-bed fl"> {{house.bedrooms}}</i>
		<i class="fa fa-bed fl"> {{house.bathrooms}}</i>

<input type="number" placeholder="Introducir precio">
<button class="buttonValorar">Valorar</button>

</div>