<ion-view>
<ion-content scroll="false">	
<div class="house">
	<div class="top-label titlehouse">
		<span>{{houses[0].attributes.location}}</span> <br>
		<span class="light"> {{houses[0].attributes.province}}</span>
	</div>	

	<i class="nextphoto fa fa-angle-right" ng-click="changePhoto()"></i>
	<i class="beforephoto fa fa-angle-left" ng-click="changePhoto()"></i>

	<ion-slide-box show-pager="false">
    <ion-slide ng-repeat="img in houses[0].imgs" >
     	<div class="image" ng-style="{'background-image':'url('+img+')'}"></div>
    </ion-slide>
  </ion-slide-box>

	<div class="icons">
		<span>{{houses[0].attributes.type}} - {{houses[0].attributes.year}}</span>
	</div>

	<i class="fa fa-building fl"> {{houses[0].attributes.area}} m2</i>
	<i class="fa fa-bed fl"> {{houses[0].attributes.bedrooms}}</i>
	<i class="fa fa-tty fl"> {{houses[0].attributes.bathrooms}}</i>

<input type="number" ng-model="priceValoration" placeholder="Introduce el precio">

<button ng-show="!valorado" class="button button-block button-energized buttonValorar" ng-click="valorar()">Valorar</button>
<button ng-show="valorado" class="button button-block button-energized icon-right ion-checkmark-round buttonValorar" ng-click="valorar()">Valorado</button>

</div>
</ion-content>
</ion-view>