<div class="house">
	<div class="top-label titlehouse">
		<span>{{houses[0].location}}</span> <br>
		<span class="light"> {{houses[0].province}}</span>
	</div>	

	<i class="nextphoto fa fa-angle-right" ng-click="changePhoto()"></i>
	<i class="beforephoto fa fa-angle-left" ng-click="changePhoto()"></i>

	<div class="image" ng-style="{'background-image':'url('+houses[0].img+')'}"></div>

	<div class="icons">
		<span>{{houses[0].type}} - {{houses[0].year}}</span>
	</div>

	<i class="fa fa-building fl"> {{houses[0].area}} m2</i>
	<i class="fa fa-bed fl"> {{houses[0].bedrooms}}</i>
	<i class="fa fa-tty fl"> {{houses[0].bathrooms}}</i>

<input type="number" id="inputPrice" ng-model="precioInput" placeholder="Introduce el precio">
<button class="buttonValorar" ng-click="valorar()">Valorar</button>

</div>