
.show-animate.ng-hide-add,
.show-animate.ng-hide-remove,
.show-animate.ng-show-add, 
.show-animate.ng-show-remove { 
    display:block!important;

}

.show-animate {
  -webkit-transition: 0.10s linear all;
  transition:  0.10s linear all;
}

.line.show-animate{
	margin-top: 0;
}
.line.show-animate.ng-hide{
	margin-top: -66px;
}