@font-face {
    font-family: Roboto;
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}

* {
    /*font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;*/
    font-family: Roboto;
}

body {
    margin: 0px auto;
    background-color:#fff;
}

.light{
	font-weight: bolder;
}
.fl{float: left;}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.ui-listview {
	
}

.contact{
	text-align:center;
}

.BGBlue{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	background-color:#478ACB;
	padding:20px;
	background-image: url("../images/building.jpg");
	background-size: cover;
	background-position: center;
}

.center-text{
	text-align:center;	
}

h3{
	font-size: 1.3em;
	letter-spacing: 0.1em;
	margin: 0;
	padding: 0;
}

.top-label{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 60px;	
	font-size: 25px;
	background-color: rgba(0,0,0,0.65);
	z-index:9999;
	color: white;
}
.top-label:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 60px;
	top: 60px;
	left: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}

.facebook{
	margin-top: 100px;
}

.solviaimg{
	 width:100px;
	 position: relative;
	 top: 15px;
}

.house{
	font-size: 18px;
	color: #444;
}
.house .image{ 
	width: 320px;
	height: 310px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.house i{
	margin-left: 35px;
	margin-top: 5px;
	font-size: 18px;
}

.nextphoto{
	position: absolute;
	color:  white;
	font-size: 60px !important;
	top: 120px;
	right:10px;
	opacity: 0.8;
}
.beforephoto{
	position: absolute;
	color:  white;
	font-size: 60px !important;
	top: 120px;
	left: 10px; 
	margin-left: 0px !important;
	opacity: 0.7;
}

.icons{
	width: 100%;
	position: absolute;
	height: 40px;
	top: 270px;
	font-size: 25px;
	padding-top: 10px;
	color:rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

.titlehouse{
	color: white;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.buttonValorar{
	width: 96% !important;
	margin-left: 2%;
}

.house input{
	padding-top: 20px;
	padding-left: 10px;
	border: 0;
	background-color: none;
	width: 96%;
	height: 45px;
	font-size: 25px;
	margin-left: 2%;
}

.signinwith{
	margin-top:50px;
	position: relative;
	right: 80px;
	font-size: 1em;
	display: block;
	padding-left: 40px;
	text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.selectormenu{
	text-align: center;
}

.selectormenu h1{
	margin-top: 20px;
	color: grey;		
}

.selectormenu a{
	display: block;
	width: 100%;
	background-color: rgba(0,0,0,0.04);
	color: grey;
	padding-top: 15px;
	margin-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
	font-size: 20px;
}

.selectormenu a:active{
	background-color: rgba(0,0,0,0.06);	
}

.selectormenu #one{
	color: #FF645B;
	letter-spacing: 0.65em;
}

.selectormenu #two{
	color: #79CE4B;
	letter-spacing: 0.15em;
}

.selectormenu #three{
	color: #FFC107;
}


