<md-dialog aria-label="Modificar Datos">
  <md-content>
    <h1>
      Editar datos personales
    </h1>
    <div layout layout-sm="column">
      <md-input-container flex>
          <label>Nombre</label>
          <input style="width:250px;" required name="nombre" 
          ng-model="userToEdit.attributes.name">
      </md-input-container>
      <md-input-container flex>
          <label>Email</label>
          <input style="width:250px;" required name="email" 
          ng-model="userToEdit.attributes.email">
      </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
          <label>Antiguo Password</label>
          <input required ng-model="usuario.pass">
        </md-input-container>
        <md-input-container flex>
          <label>Nuevo Password</label>
          <input required ng-model="usuario.nuevoPass">
        </md-input-container>
    </div>
   
  </md-content>
  <div class="md-actions" layout="row">
   
    <span flex></span>
    <md-button ng-click="answer('cancelar')">
      Cancelar
    </md-button>
    <md-button ng-click="answer('confirmar')" class="md-primary">
      Confirmar
    </md-button>
  </div>
</md-dialog>