 
  <md-content class="md-padding dashboard" style="min-height: 355px;padding: 44px;">
  	<h3 class="mt-20 tar">Hola <span class="underline ambar pointer" ng-click="editData($event)">{{mainUser.get('name')}}
	<i class="fa fa-pencil-square-o" ></i></span>
    </h3>
    

  	<h2><i class="fa fa-eye ambar"></i> Seguimiento</h2> 
  	<md-list layout="row" layout-align="space-around center">
      <md-item ng-repeat="vivienda in viviendas" class="itemsViv" ui-sref="app.houses.detail">
        <md-item-content flex class="together">
          <div class="md-tile-left imgFav">          		
              <div></div><img ng-src="{{vivienda.img}}" class="roundItems" alt="Imagen Vivienda">
              <h3>{{vivienda.title}}</h3>
          </div>
        </md-item-content>
      </md-item>
    </md-list><br>
    
    <div style="float:right" class="userTags" ng-repeat="tag in tags">
	 	<span ng-style="{'background-color': tag.color}" class="label label-default">{{tag.titulo}}</span>
	</div>
	<span style="float:right; margin-right: 5px;">Filtrado por: </span> 
  </md-content>

  <md-content class="md-padding dashboardDown">
  	<h2><i class="fa fa-exclamation-circle ambar"></i> Gangas</h2> 
  	<div class="gridNovedades" layout="row" layout-wrap>
		 <div flex="33" class="pointer" ui-sref="app.houses.detail">
		    <div class="imageContainer">
		    	<div class="infoImage"><div>259.000€<br> c/Antonio Brotons nº47 <br> 330m2
		    		</div>
		    		<h3>Alicante - San Juan<span style="float:right; color: #FFC107;">+30%</span></h3>
		    	</div>
		    	<img ng-src="assets/img/vivienda_nov_1.jpg" alt="Imagen Vivienda">
		    </div>
		  </div>
		  <div flex="40" class="pointer" ui-sref="app.houses.detail">
		    <div class="imageContainer">
		    	<div class="infoImage"><div>529.000€<br> c/Panadero 221b <br> 290m2
		    		</div>
		    		<h3>Denia<span style="float:right; color: #FFC107;">+15%</span></h3>
		    	</div>
		    	<img ng-src="assets/img/vivienda_nov_2.jpg" alt="Imagen Vivienda">
		    </div>
		  </div>
		  <div class="pointer" flex ui-sref="app.houses.detail">
		    <div class="imageContainer">
		    	<div class="infoImage"><div>139.000€<br> c/Del Percebe nº13 <br> 90m2
		    		</div>
		    		<h3>Benidorm<span style="float:right; color: #FFC107;">+23%</span></h3>
		    	</div>
		    	<img ng-src="assets/img/vivienda_nov_3.jpg" alt="Imagen Vivienda">
		    </div>
		  </div>
  		</div>
  	</div>  	

  	<h2><i class="fa fa-exclamation-circle ambar"></i> Fuera del mercado</h2> 

  	<div class="gridNovedades pt0" layout="row" layout-wrap>
		 <div flex class="pointer" ui-sref="app.houses.detail">
		    <div class="imageContainer">
		    	<div class="infoImage"><div>709.000€<br> c/Manolo Pastor nº9<br> 190m2
		    		</div>
		    		<h3>El Campello<span style="float:right; color: red;">-25%</span></h3>
		    	</div>
		    	<img ng-src="assets/img/vivienda_nov_4.jpg" alt="Imagen Vivienda">
		    </div>
		  </div>
		  <div flex="40" class="pointer" ui-sref="app.houses.detail">
		    <div class="imageContainer">
		    	<div class="infoImage"><div>709.000€<br> c/Del Sol nº99 <br> 190m2
		    		</div>
		    		<h3>San Juan de Alicante<span style="float:right; color: red;">-15%</span></h3>
		    	</div>
		    	<img ng-src="assets/img/vivienda_nov_5.jpeg" alt="Imagen Vivienda">
		    </div>
		  </div>
		  <div flex="33" class="pointer" ui-sref="app.houses.detail">
		    <div class="imageContainer">
		    	<div class="infoImage"><div>189.000€<br> c/La playa bonita nº9 <br> 70m2
		    		</div>
		    		<h3>San Gabriel <span style="float:right; color: red;">-23%</span></h3>
		    	</div>
		    	<img ng-src="assets/img/vivienda_nov_6.jpeg" alt="Imagen Vivienda">
		    </div>
  		</div>
  	</div>

  </md-content>
