<div class="row" id="login">
	<div class="bg"> </div>
	<div class="authContainer">
		<img src="assets/img/logo.png" alt="">
		<h1 class="m0 tac pb30">Iniciar sesión</h1>


		<form ng-submit="login()" name="loginForm" id="loginForm">

			<md-input-container>
				<label>Email</label>
				<input type="email" name="email" ng-model="user.email" required>
				<div ng-messages="loginForm.email.$error" ng-show="loginForm.password.$dirty">
					<div ng-message="required">Introduce tu email</div>
				</div>
			</md-input-container>

			<md-input-container>
				<label>Contraseña</label>
				<input type="password" name="password" ng-model="user.pass" required
				 minlength="6">
				<div ng-messages="loginForm.email.$error" ng-show="loginForm.bio.$dirty">
					<div ng-message="required">Introduce tu contraseña</div>
					<div ng-message="minlength">Mínimo 6 carácteres</div>
				</div>
			</md-input-container>

			<p class="tar m0"><a href="javascript:void(0)" tabindex="-1" ui-sref="resetpass" >¿Olvidaste la contraseña?</a></p>

		</form>
		<div class="mt30 footer ohidden">
			<div class="w50p fl">¿Eres nuevo?<br><a href="javascript:void(0)" ui-sref="signup">Crea una nueva nueva</a></div>
			<div class="w50p fl">
				<md-button class="md-raised md-primary fr p10" form="loginForm" type="submit">
					Entrar
				</md-button>
			</div>
		</div>
    <div class="alert alert-danger mt20" role="alert" ng-show="alert.length > 0">{{alert | capitalize}}</div>
	</div>
</div>