<div class="row" id="resetpass">
  <div class="bg"> </div>
  <div class="authContainer">
    <img src="assets/img/logo.png" alt="">
    <h1 class="m0 tac pb30">Olvidé contraseña</h1>

    <form ng-submit="resetpass()" name="resetForm" id="resetForm">

      <md-input-container>
        <label>Email</label>
        <input type="email" name="email" ng-model="user.email" required>
        <div ng-messages="loginForm.email.$error" ng-show="loginForm.password.$dirty">
          <div ng-message="required">Introduce tu email</div>
        </div>
      </md-input-container>

    </form>
    <div class="mt30 footer ohidden">
      <div class="w50p fl">Volver a <a href="javascript:void(0)" ui-sref="login">Iniciar sesión</a></div>
      <div class="w50p fl">
        <md-button class="md-raised md-primary fr p10" form="resetForm" type="submit">
         Restablecer contraseña
        </md-button>
      </div>
    </div>
    <div class="alert alert-danger mt20" role="alert" ng-show="alert.length > 0">{{alert | capitalize}}</div>
  </div>
</div>