<div class="row" id="signup">
  <div class="bg"> </div>
  <div class="authContainer">
    <img src="assets/img/logo.png" alt="">
    <h1 class="m0 tac pb30">Registro</h1>

    <form ng-submit="signup()" name="signupForm" id="signupForm">

      <md-input-container>
        <label>Nombre</label>
        <input type="text" name="name" ng-model="user.name" required>
        
      </md-input-container>
      
      <md-input-container>
        <label>Email</label>
        <input type="text" name="email" ng-model="user.email" required>
        <div ng-messages="loginForm.email.$error" ng-show="loginForm.password.$dirty">
          <div ng-message="required">Introduce tu email</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Contraseña</label>
        <input type="password" name="password" ng-model="user.pass" required
         minlength="6">
        <div ng-messages="loginForm.email.$error" ng-show="loginForm.bio.$dirty">
          <div ng-message="required">Introduce tu contraseña</div>
          <div ng-message="minlength">Mínimo 6 carácteres</div>
        </div>
      </md-input-container>
    </form>

    <div class="mt30 footer ohidden">
      <div class="w50p fl">Ya soy miembro <br> <a ui-sref="login">Iniciar sesión</a></div>
      <div class="w50p fl">
        <md-button class="md-raised md-primary fr p10" form="signupForm" type="submit">
          Registrarse
        </md-button>
      </div>
    </div>

    <div class="alert alert-danger mt20" role="alert" ng-show="alert.length > 0">{{alert | capitalize}}</div>
  </div>
</div>