 <md-toolbar class="dark-blue fixed">
    <div class="md-toolbar-tools">

    	<img src="assets/img/logo.png" class="imageHeader pointer" alt="Logo App" ui-sref="app.dashboard"/>
      	<span class="md-flex toolbar-title pointer" ui-sref="app.dashboard">Valu | {{menuItemSelected}}</span>
      	
		<div layout="row" layout-align="end start" flex>
			<md-button class="white p15 fx0-7" ng-class="{active: menuItemSelected=='Inicio'}" ui-sref="app.dashboard">
				<i class="fa fa-dashboard fa-lg"></i> Panel de control
			</md-button>
			<md-button class="white p15 fx0-7" ng-class="{active: menuItemSelected=='Viviendas'}" ui-sref="app.houses.list">
				<i class="fa fa-building-o"></i> Viviendas
			</md-button>
			<md-button class="white p15 fx0-7" ng-class="{active: menuItemSelected=='Comunidad'}" ui-sref="app.users">
				<i class="fa fa-users fa-lg"></i> Comunidad
			</md-button>
			<md-button class="white p15 fx0-7 md-warn" ng-click="logout()">
				<i class="fa fa-sign-out"></i> Cerrar Sesión
			</md-button>
		</div>
    </div>
 </md-toolbar>